-Dstream.batchDurationSeconds=5
-Dgithub.apiToken=INSERT_YOUR_GITHUB_TOKEN_HERE
-Dgithub.maxResults=20
-Dgithub.maxRepositories=20
-Dgithub.maxPinnedRepositories=6
-Dgithub.maxLanguages=20
-Dgithub.minRepoAgeDays=60
-Dgithub.minOwnerToAllCommitsRatio=0.7
-Dgithub.supportedLanguages=JavaScript
-Dgithub.minTargetRepos=6
